* {
    box-sizing: border-box;
    /*untuk hover interaktif sebelum diklik */
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.github,
.me {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.about {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.github {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.me {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}